:root { 
--gray_400:#c4c4c4; 
--black_900:#000000; 
--indigo_A400:#4f46e5; 
--red_800:#d72020; 
--blue_100:#c7d2fe; 
--blue_gray_900:#322f35; 
--gray_200:#eaeaea; 
--white_A700:#ffffff; 
--gray_300:#e5e5e5; 
--indigo_500:#4338ca; 
--gray_300_01:#e0d9d9; 
}